 body {
     width: 100%;
     padding: 0px;
     margin: 0px;
     color: #222
 }
 
 input {
     width: 90%;
    border: none;
    margin: 10px 0px;
 }

 a {
     text-decoration: solid;
 }

 #microphone {
    width: auto;
    height: 26px;
    align-self: center;
    padding: 0 10px;
 }
 
 #magnifying-glass{
     padding: 10px;
 }

 #logo img{ 
    display: block;
    margin: 0px auto;
 }

 form{
    width: 50%; 
    margin: 0 auto;
    /* background-color: red; */
    text-align:center;
 }

 #search-bar{
    display: flex;
    width: 100%;
    margin: 0 auto 10px auto;
    justify-content: space-between;
    /* background-color: cyan; */
    border: 1px solid lightgray;
    border-radius: 50px 50px 50px 50px;
 }

 .buttons {
     display: inline-block;
 }

 form button{ 

    margin: 0px auto;
 }

 footer {
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0px;
    background-color:rgb(242,242,242);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
 }

 .footer-link {
     color: rgb(112,117,122);
     padding: 10px 10px;
     margin: 10px 0px;
 }

 #footer-left {
    display: flex;
    order: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
 }

 #footer-right {
    display: flex;
    order: 3;
    flex-wrap: wrap;
    justify-content: flex-end;
 }

 #footer-center {
    display: flex;
    order: 2;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    /* background-color: purple; */
 }


 .leaf {
     height: 16px;
 }

 /*
@media (max-width: 770px){
    #footer {
        max-width: max-content;
    }
    
    #footer-center {
        order: 0;
        vertical-align: top;
        flex-wrap: wrap;
    }
}
 */